<footer class="footer" style="background-color:#b3b3ff;">
<h5>Our Address</h5>
<address>
    ward no#7 Babu Muhallah<br>
    Near Cantt Police Station<br>
    Sialkot Cantt<br>
    Tel : +92 3225707434<br>
    Email : <a href="mailto:afaqahmed742@gmail.com">afaqahmed742@gmail.com</a>
</address>

<br>

<div class="col-sm-4 align-self-center">
<div>
    <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><span
            class="fa fa-google-plus"></span></a>
    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><span
            class="fa fa-facebook"></span></a>
    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><span
            class="fa fa-linkedin"></span></a>
    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><span class="fa fa-twitter"></span></a>
    <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><span class="fa fa-youtube"></span></a>
    <a class="btn btn-social-icon" href="mailto:"><span class="fa fa-envelope-o"></span></a>
</div>
</div>


<br>
<div class="row justify-content-center">             
    <div class="col-auto">
        <p>© Copyright 2021 myweb.All Rights Reserved</p>
    </div>
</div>
</footer>